{
  "id": 2312,
  "timeCreated": 342423432142342,
  "timeUpdated": 342423432154342,
  "severity": "CRITICAL",
  "description": "Notify when one server of cluster 45 went down",
  "enabled": true,
  "action": {
    "notification": {
      "recipients": ["alex.tiavo", "greg.kio"]
    }
  },
  "condition": {
    "resourceType": "SERVER",
    "resources": [45],
    "event": "DISCONNECTED"
  },
  "name": "test"
}
