{
  "data": {
    "id": 4,
    "timeCreated": 1445968023535,
    "timeUpdated": 1445968023535,
    "name": "testCluster",
    "multicastEnabled": false,
    "primaryNodeId": null,
    "servers": [
      {
        "id": 2,
        "timeCreated": 1445967595700,
        "timeUpdated": 1445967683096,
        "name": "Mule1",
        "serverType": "MULE",
        "type": "SERVER",
        "muleVersion": "3.7.1-SNAPSHOT",
        "agentVersion": "1.3.0-SNAPSHOT",
        "status": "RUNNING",
        "addresses": [
          {
            "ip": "10.250.2.74",
            "networkInterface": "en1"
          }
        ],
        "currentClusteringIp": "127.0.0.1",
        "clusterId": 4,
        "clusterName": "testCluster"
      },
      {
        "id": 3,
        "timeCreated": 1445967663477,
        "timeUpdated": 1445967680845,
        "name": "Mule2",
        "serverType": "MULE",
        "type": "SERVER",
        "muleVersion": "3.7.1-SNAPSHOT",
        "agentVersion": "1.3.0-SNAPSHOT",
        "status": "RUNNING",
        "addresses": [
          {
            "ip": "10.250.2.74",
            "networkInterface": "en1"
          }
        ],
        "currentClusteringIp": "127.0.0.1",
        "clusterId": 4,
        "clusterName": "testCluster"
      }
    ],
    "type": "CLUSTER",
    "visibilityMap": {
      "mapNodes": [
        {
          "serverId": 2,
          "visibleNodeIds": [3],
          "unknownNodeIps": []
        },
        {
          "serverId": 3,
          "visibleNodeIds": [],
          "unknownNodeIps": []
        }
      ]
    },
    "status": "RUNNING"
  }
}